* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  text-align: center;
}

p {
  margin-top: 30px;
  margin-bottom: 30px;
}

.container {
  width: 60%;
  margin: 20px auto;
  min-height: 800px;
}

.container::after {
  content: "";
  display: table;
  clear: both;
}

.element {
  float: left;
  width: calc(100% / 3);
  height: 100px;
  /* debugging con colori */
  background-color: rgb(1, 1, 26);
  border: 2px solid lightcoral;
  margin-bottom: 60px;
}

img {
  height: 100%;
  float: left;
  margin-right: 10px;
}

.element > div {
  color: azure;
  margin-top: 10px;
}